footer {
<<<<<<< HEAD
  left: 0;
  bottom: 0;
=======
  padding: 5px;
>>>>>>> 6f4d88a84a8494398bf26f834a44b9d12d53b825
  width: 100%;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
<<<<<<< HEAD
=======
  margin-top: 150px;
>>>>>>> 6f4d88a84a8494398bf26f834a44b9d12d53b825
}
